.foto_item {
	width:150px;
	height:200px;
	text-align: center;
	margin-right: 10px;
	float:left;
}
.foto_item img {
	width:150px;
}


.textNav{
	color: wheat;
}

body{
	background-color: whitesmoke;
	overflow-x: hidden;
}

#alert-login{
	display: none;
}
